/*clients*/
.clients__items{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -15px;

	@media screen and (min-width: $desktop) {
		flex-wrap: nowrap;
	}
}
.clients__item{
	display: block;
	color: getColor('icon');
	margin: 15px;
	}

.clients__link{
	display: flex;
	text-align: center;
	justify-content: center;
	color: getColor('icon');
	width: 210px;
	height: 92px;
	padding: 15px 31px;
	margin: 0;
	border: 1px solid currentColor;
	border-radius: 4px;

	transition: color 250ms $timing-function;

	&:hover, &:focus{
	color: getColor('accent');
}
@media screen and (min-width: $tablet){
	width: 226px;
}
@media screen and (min-width: $desktop){
	width: 170px;
}
}

.clients__img{
	fill: currentColor;
}